server:
  port: 8510  # 프로덕션 환경에서 사용할 포트

spring:
  application:
    name: task-service

  messages:
    basename: messages/messages
    encoding: UTF-8
    use-code-as-default-message: false
    fallback-to-system-locale: false
    cache-duration: 3600
    always-use-message-format: true

  datasource:
    url: jdbc:mysql://133.186.241.167:3306/nhn_academy_9?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: nhn_academy_9
    password: iRz&E!F&XxG4d?kP

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

# eureka 설정
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://admin:1234@localhost:8310/eureka
  instance:
    prefer-ip-address: true

# 이미지 파일 업로드 경로 설정 (prod 환경에서는 S3 등 사용)
image:
  upload-dir: s3://your-bucket-name/images/  # prod 환경에서는 S3 버킷 경로 사용
  appkey: bgi6iWmF4yYnwQoo
  secretkey: 5eV2wK0nslCUu42AwIFNiEhKLThoDK4H
# 파일 업로드 크기 제한 설정
servlet:
  multipart:
    max-file-size: 10MB  # 최대 파일 크기
    max-request-size: 10MB  # 최대 요청 크기
    enabled: true